$primary-color: #0e62a4;
$secondary-color: #0d203a;

$error-color: #cc3300;
$warning-color: #cc6600;
$success-color: #186200;
$background-color: #f4f2ee;

$text-color: #666666;
$light-text-color: #999999;

$form-wrapper-border-color: rgba(0, 0, 0, 0.1);
$form-wrapper-backgorund-color: rgba(255, 255, 255, 0.9);

$phi-down: 0.382;
$phi: 0.618;
$phi-sr: 0.786;
$phi-up: 1.618;
$phi-double: 2.618;
